
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
  
  }

  html {
    background-image: linear-gradient(to top, rgba(67,197,170,1) 42%, rgba(0,152,255,1) 55%);
    background-repeat: no-repeat;

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
  }
  
  body {
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    color:white;
  }


  header {
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  }  

  p {
    font-size: 1rem;
  }
  
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
  
  .smallIcon {
    height: 25px;
    width: 25px;
  }
  
  .bigIcon {
    height: 100px;
    width: 100px;
    position:relative;
    opacity: 0.7;
  }


 .search {
    text-align: center;
    padding: 1rem;
  }
  
  input {
    padding: .7rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.8);
    background: rgba(255,255,255, 0.1);
    color: #f8f8f8;
  }
  
  ::placeholder {
    color: #f8f8f8;
  }
  
  .container {
    text-align: center;
    max-width: 600px;
    height:fit-content;
    margin: auto;
    padding: 0;
    position: relative;
    top: 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  
  .top {
    width: 100%;
    margin:auto;
    display: flex;
    text-align: left;
  }

  .not_found {
    text-align: center;
    font-size: x-small;
  }
  
  .location {
    text-align: left;
    padding: 1rem;
  }

 .date {
    position: relative;
    left: 5%;
    top: 80px;
    transform-origin: 0 0;
    transform: rotate(270deg);
  }


  .middle {
    height: 200px;
    position: relative;
    padding: 1rem;
  }

 .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(255,255,255, 0.2);
    flex-flow: row wrap;
  }

  .bottom > * {
    flex: 1 1;
  }

  .flexItem {
    width: 100px;
  }

  
  .bold {
    font-weight: 700;
  }

  .big {
    font-size: 5rem;
    font-weight: 100;
  }


  /* SMALL SCREENS */

  @media only screen and (max-width: 600px){

  html {
      background-image: linear-gradient(to top, rgba(67,197,170,1) 32%, rgba(0,152,255,1) 55%);
      background-repeat: repeat-x;
    }
  body {
      height: 100vh;
    }
  
  header {
      position: fixed;
    }

  p {
    font-size: 12px;
  }

  .location {
   position: fixed;
   top: 280px;
   padding: 1rem;
    }

  .search {
      position: fixed;
      top: 80px;
      left: 0px;
    }

  .not_found {
      text-align: left;
      font-size: x-small;
      position: fixed;
      top: 150px;
      padding: 1rem;
      left: 10px;
    }

  .container {
      text-align: center;
      max-width: fit-content;
      height:fit-content;
      margin: auto;
      padding: 0;
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
    }

  .middle {
      height: 150px;
      position: fixed;
      top: 150px;
      padding: 1rem;
    }

  .bigIcon {
      height: 100px;
      width: 100px;
      position:fixed;
      opacity: 0.4;
      top: 150px;
      right: 50px;
    }

  .description {
    text-align: left;
  }

  .bottom {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 100%;
      border-radius: 12px;
      background-color: rgba(255,255,255, 0.2);
      flex-wrap: nowrap;
      position:relative;
      top: 320px;
   
    }
  .bottom > * {
      flex: 1 1;
    }
  
  .flexItem {
      width: 80px;
    }
  }